<div id='loader' [ngClass]="{
  'fadeOut': this.auth.fadeOut
}">
  <div class="spinner"></div>
</div>

<div>
  <!-- #Left Sidebar ==================== -->
  <div class="sidebar">
    <div class="sidebar-inner">
      <!-- ### $Sidebar Header ### -->
      <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
          <div class="peer peer-greed">
            <a class="sidebar-link td-n" href="index.html">
              <div class="peers ai-c fxw-nw">
                <div class="peer">
                  <div class="logo">
                    <img src="assets/static/images/logo.png" alt="">
                  </div>
                </div>
                <div class="peer peer-greed">
                  <h5 class="lh-1 mB-0 logo-text">Task Manager</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
              <a class="td-n">
                <i class="ti-arrow-circle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- ### $Sidebar Menu ### -->
      <ul class="sidebar-menu scrollable pos-r">
        <li class="nav-item mT-30 actived">
          <a class="sidebar-link" routerLink="./home">
            <span class="icon-holder">
              <i class="c-blue-500 ti-home"></i>
            </span>
            <span class="title">Tableau de board</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="this.user.fonction >= 1000">
          <a class='sidebar-link' routerLink="./overview">
            <span class="icon-holder">
              <i class="c-light-blue-500 ti-pencil"></i>
            </span>
            <span class="title">Panneau de contrôle</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' routerLink="./conges">
            <span class="icon-holder">
              <i class="c-deep-purple-500 ti-calendar"></i>
            </span>
            <span class="title">Gestion des congés</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="this.user.fonction >= 1000">
          <a class='sidebar-link' routerLink="./controle">
            <span class="icon-holder">
              <i class="c-deep-purple-500 ti-bar-chart"></i>
            </span>
            <span class="title">Contrôle Qualitatif</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="this.user.fonction >= 1000">
          <a class='sidebar-link' routerLink="./rapportControle">
            <span class="icon-holder">
              <i class="c-deep-purple-500 ti-palette"></i>
            </span>
            <span class="title">Rapports des Contrôles</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="this.user.fonction >= 1000">
          <a class='sidebar-link' routerLink="./chargement">
            <span class="icon-holder">
              <i class="c-pink-500 ti-pencil"></i>
            </span>
            <span class="title">Chargement</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="this.user.fonction >= 1000">
          <a class='sidebar-link' routerLink="./tresor">
            <span class="icon-holder">
              <i class="c-pink-500 ti-share"></i>
            </span>
            <span class="title">Autres rapproch</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class='sidebar-link' routerLink="./report">
            <span class="icon-holder">
              <i class="c-deep-purple-500 ti-comment-alt"></i>
            </span>
            <span class="title">Rapport</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' routerLink="./email">
            <span class="icon-holder">
              <i class="c-brown-500 ti-email"></i>
            </span>
            <span class="title">Email</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="this.user.fonction >= 1000">
          <a class='sidebar-link' routerLink="./discipline">
            <span class="icon-holder">
              <i class="c-deep-purple-500 fa fa-bookmark"></i>
            </span>
            <span class="title">Discipline</span>
          </a>
        </li>

        <!-- <li *ngIf="false" class="nav-item">
          <a class='sidebar-link' routerLink="./spontaneous">
            <span class="icon-holder">
              <i class="c-blue-500 ti-share"></i>
            </span>
            <span class="title">Tâches spontanées</span>
          </a>
        </li>
        <li *ngIf="false" class="nav-item">
          <a class='sidebar-link' routerLink="./done">
            <span class="icon-holder">
              <i class="c-deep-orange-500 ti-calendar"></i>
            </span>
            <span class="title">Tâches achevées</span>
          </a>
        </li>
        <li *ngIf="false" class="nav-item">
          <a class='sidebar-link' routerLink="./undone">
            <span class="icon-holder">
              <i class="c-deep-purple-500 ti-comment-alt"></i>
            </span>
            <span class="title">Tâches non faites</span>
          </a>
        </li>
        <li *ngIf="false" class="nav-item">
          <a class='sidebar-link' routerLink="./recent">
            <span class="icon-holder">
              <i class="c-indigo-500 ti-bar-chart"></i>
            </span>
            <span class="title">Tâches récentes</span>
          </a>
        </li>
        <li *ngIf="false" class="nav-item">
          <a class='sidebar-link' routerLink="./monthly">
            <span class="icon-holder">
              <i class="c-light-blue-500 ti-pencil"></i>
            </span>
            <span class="title">Tâches mensuelles</span>
          </a>
        </li>
        <li *ngIf="false" class="nav-item dropdown">
          <a class="sidebar-link" routerLink="./all">
            <span class="icon-holder">
              <i class="c-pink-500 ti-palette"></i>
            </span>
            <span class="title">Toutes les tâches</span>
          </a>
        </li> -->
        <!-- <li class="nav-item" *ngIf="this.user.modules.indexOf('habilitations') > -1">
          <a class='sidebar-link' routerLink="./habilitations">
            <span class="icon-holder">
              <i class="c-indigo-500 ti-bar-chart"></i>
            </span>
            <span class="title">Habilitations</span>
          </a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="dropdown-toggle" href="javascript:void(0);">
            <span class="icon-holder">
              <i class="c-orange-500 ti-layout-list-thumb"></i>
            </span>
            <span class="title">Projets</span>
            <span class="arrow">
              <i class="ti-angle-right"></i>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class='sidebar-link' href="basic-table.html">Basic Table</a>
            </li>
            <li>
              <a class='sidebar-link' href="datatable.html">Data Table</a>
            </li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>

  <div class="page-container">
    <!-- ### $Topbar ### -->
    <div class="header navbar w-100 sticky-top">
      <div class="header-container" style="width: calc(100%);">
        <ul class="nav-left">
          <li>
            <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
              <i class="ti-menu"></i>
            </a>
          </li>
          <li class="search-box">
            <a class="search-toggle no-pdd-right" href="javascript:void(0);">
              <i class="search-icon ti-search pdd-right-10"></i>
              <i class="search-icon-close ti-close pdd-right-10"></i>
            </a>
          </li>
          <li class="search-input">
            <input class="form-control" type="text" placeholder="Search...">
          </li>
        </ul>
        <ul class="nav-right ml-auto">
          <li class="notifications dropdown">
            <span class="counter bgc-blue" data-toggle="dropdown"
              *ngIf="this.notifs.length > 0">{{this.notifs.length}}</span>
            <a class="dropdown-toggle no-after" data-toggle="dropdown">
              <i class="ti-bell"></i>
            </a>

            <ul class="dropdown-menu">
              <li class="pX-20 pY-15 bdB">
                <i class="ti-email pR-10"></i>
                <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
              </li>
              <li>
                <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm" style="height: 280px; overflow: auto;">
                  <li *ngFor="let notif of this.notifs">
                    <a class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                      <div class="peer mR-15">
                        <img class="w-3r bdrs-50p" src="assets/images/blank-profile-picture.png" alt="">
                      </div>
                      <div class="peer peer-greed">
                        <div>
                          <div class="peers jc-sb fxw-nw mB-5">
                            <div class="peer">
                              <p class="fw-500 mB-0">{{notif.CreatedByName}}</p>
                            </div>
                            <div class="peer">
                              <small class="fsz-xs">{{notif.HourTime}}</small>
                            </div>
                          </div>
                          <div class="peers jc-sb fxw-nw mB-5">
                            <div class="col" style="overflow: hidden; white-space: nowrap; display: inline-block;">
                              <span class="c-grey-600 fsz-sm" style="text-overflow: ellipsis;">
                                vient de {{notif.type}} la tâche <b><i> {{notif.label}}</i></b>
                                <span *ngIf="notif.assignedTo && notif.assignedTo.length > 0"
                                  style="text-overflow: ellipsis;">
                                  pour {{notif.assignedToName}}
                                </span>
                              </span>
                            </div>
                            <!-- <div class="col-auto pull-right">
                              <span class="btn btn-outline-danger" style="border-radius: 50%; transform: scale(0.7); margin-left: 0!important;">
                                <span class="fa fa-times" ></span>
                              </span>
                            </div> -->
                          </div>

                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- <li>
                    <a class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                      <div class="peer mR-15">
                        <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/2.jpg" alt="">
                      </div>
                      <div class="peer peer-greed">
                        <div>
                          <div class="peers jc-sb fxw-nw mB-5">
                            <div class="peer">
                              <p class="fw-500 mB-0">Moo Doe</p>
                            </div>
                            <div class="peer">
                              <small class="fsz-xs">15 mins ago</small>
                            </div>
                          </div>
                          <span class="c-grey-600 fsz-sm">
                            Want to create your own customized data generator for your app...
                          </span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                      <div class="peer mR-15">
                        <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/3.jpg" alt="">
                      </div>
                      <div class="peer peer-greed">
                        <div>
                          <div class="peers jc-sb fxw-nw mB-5">
                            <div class="peer">
                              <p class="fw-500 mB-0">Lee Doe</p>
                            </div>
                            <div class="peer">
                              <small class="fsz-xs">25 mins ago</small>
                            </div>
                          </div>
                          <span class="c-grey-600 fsz-sm">
                            Want to create your own customized data generator for your app...
                          </span>
                        </div>
                      </div>
                    </a>
                  </li> -->
                </ul>
              </li>
              <li class="pX-20 pY-15 ta-c bdT">
                <span>
                  <a class="c-grey-600 cH-blue fsz-sm td-n">Voir toutes les notifications <i
                      class="fs-xs ti-angle-right mL-10"></i></a>
                </span>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
              <div class="peer mR-10">
                <img class="w-2r bdrs-50p" src="assets/images/blank-profile-picture.png" alt="">
              </div>
              <div class="peer">
                <span class="fsz-sm c-grey-900" *ngIf="this.useravailable === true; else waiting">{{this.user.firstname + ' ' + this.user.lastname}}</span>
                <ng-template #waiting>
                  <a class="navbar-brand col-sm-3 col-md-2 mr-0">Connecté</a>
                </ng-template>
              </div>
            </a>
            <ul class="dropdown-menu fsz-sm">
              <li>
                <a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                  <i class="ti-settings mR-10"></i>
                  <span>Setting</span>
                </a>
              </li>
              <li (click)="this.printPdf()">
                <a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                  <i class="ti-user mR-10"></i>
                  <span>Profile</span>
                </a>
              </li>
              <li>
                <a href="email.html" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                  <i class="ti-email mR-10"></i>
                  <span>Messages</span>
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" (click)="this.signOut()">
                  <i class="ti-power-off mR-10"></i>
                  <span>Sortir</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- #Main ============================ -->
    <router-outlet></router-outlet>

    <!-- ### $App Screen Footer ### -->
    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
      <span>Copyright © 2020 Designed by <a href="https://instant-transfer.com" target='_blank' title="Colorlib">Instant
          Transfer</a>.
        All rights reserved.</span>
    </footer>


  </div>
