<div class="jumbotron">
    <h1 class="display-4">Décision d'encaissement</h1>
    <p class="lead">Vous pouvez encaisser</p>
    <hr class="my-4">
    <p style="color:green">1.	ENCAISSER </p>
    <p style="color:green">2.	ENVOYER LE NIVEAU DE L’AGENCE AU GROUPE ADMIN</p>
    <p style="color:green">3.	CONTACTER L’AGENT DE LIAISON POUR DECAISSEMENT SI LE PLAFOND DE L’AGENCE EST DEPASSE APRES L’ENCAISSEMENT</p>
    <a class="btn btn-success btn-lg" role="button" (click)="restart()">Recommencer</a>
  </div>
  